bin/*.exe
bin/exec/*
*/CMakeFiles
*/CMakeFiles/*
*/CMakeFiles/*/*
*/CMakeFiles/*/*/*
*/CMakeFiles/*/*/*/*
*/*.dir
*/*.dir/*
*/*.dir/*/*
*/ITK*
*/ITK*/*
*/ITK*/*/*
*/ITK*/*/*/*
*/Release
*/Release/*
*/x64
*/x64/*
*/x64/*/*
*/x64/*/*/*
*/ipch
*/ipch/*
*/ALL_BUILD*
*/*.cmake
*/CMakeCache.txt
*/*.opensdf
*/*.sdf
*/*.sln
*/*.suo
*/*.vcxpro*
*/ZERO_*
Qt/*/*.user
Qt/*build
Qt/*build/*
Qt/*build/*/*
Qt/*build/*/*/*


