bin/*.exe
bin/exec/*
*/CMakeFiles
*/CMakeFiles/*
*/CMakeFiles/*/*
*/CMakeFiles/*/*/*
*/CMakeFiles/*/*/*/*
*/*.dir
*/*.dir/*
*/*.dir/*/*
*/ITK*
*/ITK*/*
*/ITK*/*/*
*/ITK*/*/*/*
*/Release
*/Release/*
*/Debug
*/Debug/*
*/x64
*/x64/*
*/x64/*/*
*/x64/*/*/*
*/ipch
*/ipch/*
*/ALL_BUILD*
*/*.cmake
*/CMakeCache.txt
*/*.opensdf
*/*.sdf
*/*.sln
*/*.suo
*/*.vcxpro*
*/ZERO_*
*/*.out
*/*.log
*/*/*.out
*/*/*.log
Qt/*/*.user
Qt/*build
Qt/*build/*
Qt/*build/*/*
Qt/*build/*/*/*
Qt/*/CMakeFiles
Qt/*/CMakeFiles/*
Qt/*/CMakeFiles/*/*
Qt/*/CMakeFiles/*/*/*
Qt/*/CMakeFiles/*/*/*/*
Qt/Imageviewer/*
Qt/Imageviewer/*/*

